<%- include("header") %>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

  .card-cont {
    font-family: 'Tilt Neon', cursive;
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 4px; 
    justify-content: center;

  }

  .card-container{
    background: url('assets/img/userr.avif') ;
    font-family: 'Tilt Neon', cursive;
    margin: 0;
    padding: 0;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom:30px ;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;          background-repeat: no-repeat;          background-position: center;
  
  }


  .card {
    width: 300px;
    margin: 16px;
    color: #e5cb9a;
    background-color: rgba(11 44 90 / 94%);
    border-radius: 1.2rem;
    /*  border: 1px solid #ccc;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    color: #f2e1c2;
    padding: 20px;
  }

  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  hr {
    border: 1px solid #ccc;
    margin: 0;
  }

  h2 {
    text-align: center;
    margin: 20px 0;
  }
  
  h1,h2,h5{
    color: #e5cb9a;
    font-family: 'Tilt Neon', cursive;
    justify-content: center;
  }
  .hedd{
    margin-left: 650px;
    color:rgba(11 44 90 / 90%) ;
    background-color:  rgba(249, 213, 145,.88);
    border-radius: 1rem;
    padding: 0px 10px;
  }
</style>


<div class="card-container">

  <center>
    <div class="hedd"  style="text-align: center;">
      <h1 style="color:rgba(11 44 90 / 90%) ;font-size:200%;">CUSTOMER LIST</h1>
    </div>

    </center>
    <div class="card-cont">
      <% customers.forEach(function(customer) { %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="
    color: #e5cb9a;
    font-family: 'Tilt Neon', cursive;
    justify-content: center;"><%= customer.name %></h5>
            <p class="card-text">Email: <%= customer.email %></p>
            <p class="card-text">Balance: <%= customer.balance %></p>
          </div>
        </div>
      <% }) %>
    </div>

</div>

<%- include("footer") %>
